body {
  color: #fff;
  padding-top: 70px;
  position: relative;
}

.navbar {
  background-color: #161118;
  margin-bottom: 0;
  padding: 10px;
  padding-right: 0;
}

.navbar a {
  color: #fff;
}

.navbar li.active {
  border-bottom: 2px solid #fff;
}

.icon-bar {
  color: #fff;
}

.jumbotron {
  background-color: #1E1B2C;
  margin-bottom: 0;
}

.jumbotron img {
  width: 100%;
}

.jumbotron button {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 20%;
}

.jumbotron img {
  max-width: 500px;
}

div.service {
  background-color: #4B5286;
  padding: 50px 0;
}

.service-single {
  padding: 20px;
}

.work {
  background-image: url(images/back-work-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 90px;
}

.work1 {
  background-image: url(images/back-work-2.jpeg);
}

.portfolio {
  color: #000;
  padding: 50px 20px;
}

div.portfolio-header-line {
  border: 1px solid;
  margin-bottom: 40px;
}

div.portfolio-header-line::before {
  position: absolute;
  left: 10px;
  bottom: 35px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  content: '';
}
div.portfolio-header-line::after {
  position: absolute;
  right: 10px;
  bottom: 35px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  content: '';
}

.portfolio a {
  color: #000;
}

.portfolio a:hover {
  cursor: pointer;
}

.portfolio-image {
  position: relative;
  padding: 15px;
}

.portfolio img {
  width: 100%;
}

.portfolio-image div.caption {
  position: absolute;
  padding: 10% 10px;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #4B5286;
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.portfolio-image div.caption:hover {
  opacity: 0.8;
}

.carousel-indicators li {
  background-color: #797979;
}

.carousel-indicators li.active {
  background-color: #000;
}

.carousel-foto {
  max-width: 400px;
}

.carousel-text {
  padding: 70px 20px 20px;
}

.google-maps {
  position: relative;
  padding-bottom: 400px;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.contact {
  background-color: #4B5286;
  padding: 50px 53px;
}

div.social-single {
  text-align: center;
}

div.social-single i {
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid;
  background-color: #C0BDC1;
  color: #4b5286;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

div.social-single i:hover {
  background-color: #fff;
}

div.social {
  margin-top: 40px;
  margin-bottom: 20px;
}

div.contact-small i {
  color: #C0BDC1;
}

form input, form textarea {
  margin-bottom: 15px;
  margin-left: 0;
}

.form-group div {
  padding-left: 0;
}

.contact button {
  padding: 10px 30px;
}

.contact div.contact-content {
  padding-top: 40px;
}

footer {
  padding: 30px 0;
  background-color: #1E1B2C;
  color: #74767C;
}
