body {
  color: #fff;
  padding-top: 70px;
}

.navbar {
  background-color: #161118;
  margin-bottom: 0;
  padding: 10px;
}

.navbar a {
  color: #fff;
}

.hamburger {
  color: #fff;
}

.jumbotron {
  background-color: #1E1B2C;
  margin-bottom: 0;
}

.jumbotron img {
  width: 100%;
}

.jumbotron button {
  margin-top: 70px;
  width: 20%;
}

div.service {
  background-color: #4B5286;
  padding: 50px 0;
}

.service-single {
  padding: 20px;
}

.work {
  background-color: #989898;
  padding: 80px;
}

.portfolio {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #000;
  padding: 50px 20px;
}

.portfolio a {
  color: #000;
}

.portfolio img {
  width: 100%;
  margin: 15px 0;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4B5286;
  color: #fff;
  display: none;
  width: auto;
}

.carousel-indicators li {
  background-color: #797979;
}

.carousel-indicators li.active {
  background-color: #000;
}

.carousel-text {
  padding: 70px 20px 20px;
}

.google-maps {
  position: relative;
  padding-bottom: 400px;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.contact {
  background-color: #4B5286;
  padding: 50px 53px;
}

div.social-single {
  text-align: center;
}

div.social-single i {
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid;
  background-color: #C0BDC1;
  color: #4b5286;
  border-radius: 50%;
}

div.social-single i:hover {
  background-color: #fff;
}

div.social {
  margin-top: 40px;
  margin-bottom: 20px;
}

div.contact-small i {
  color: #C0BDC1;
}

form input, form textarea {
  margin-bottom: 15px;
  margin-left: 0;
}

.form-group div {
  padding-left: 0;
}

.contact button {
  padding: 10px 30px;
}

.contact div.contact-content {
  padding-top: 40px;
}
